Options -Indexes

RewriteEngine On
# for work
RewriteBase /stoik

# for home
RewriteBase /

#comment out to keep trailing slashes
RewriteRule ^(.+)/$ $1 [R=307,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?$1 [QSA,L]